<div class="legend" aria-hidden="true">
  <span class="l-training"><i></i>training, data moving</span>
  <span class="l-control"><i></i>job ↔ coordinator</span>
  <span class="dashed"><i></i>idle or waiting</span>
  <span class="l-paused dashed"><i></i>paused</span>
  <span class="l-offline dashed"><i></i>offline</span>
</div>
<div class="diagram is-loading" data-diagram="network" data-org="{{ org }}" aria-busy="true">
  <div class="skeleton" style="left: calc(50% - 84px); top: 12px; width: 168px; height: 72px;"></div>
  <div class="skeleton" style="left: 12%; top: 170px; width: 168px; height: 72px;"></div>
  <div class="skeleton" style="left: calc(50% - 84px); top: 170px; width: 168px; height: 72px;"></div>
  <div class="skeleton" style="right: 12%; top: 170px; width: 168px; height: 72px;"></div>
  <div style="height: 260px;"></div>
</div>
